[2015-05-12 21:33] emilking91 opened #3 "It might, or might not be a bug"
It could be something on my end, or my own error.

OS - Windows 7 SP1 64-bit
Game Version:
      Steam - 1.0.2
      Armor Games - 1.1.12
WGemCombiner v1.0.6b

https://www.youtube.com/watch?v=2Aqy-hdcU3c

Description: Basically the simplest formula doesn't work with the auto combiner. Either it duplicates gems if only 1, or it combines the gems if there are 4 gems already. In neither scenario does

[2015-05-12 23:23] 12345ieee commented on #3
Note for me: this is clearly the keypress transfer bug, like Astro had.
Fix is already in testing branch.

[2015-05-13 15:14] Xalynden opened #4 "Possible bug with combines"
OS - Windows 8.1 64-bit
Game Version:
Steam - 1.0.2
WGemCombiner v1.0.6b

https://youtu.be/Oi2enUG2W-U

Any combines I do seem to stop partway through. In the video you'll see me start with a grade 5, do a 16 combine and end up with a grade 5 and a grade 7.

All other combines I've tried give me 1 grade lower than it should.

As an example, I tested a 64 combine (starting at grade 5) and ended up

[2015-05-15 00:56] 12345ieee commented on #4
This likely seems a lag issue.
Try to do the combine slower and disabling info boxes and tell me if there are still problems.

[2015-05-15 14:39] Xalynden commented on #4
Thank you for the suggestion 12345ieee. While testing this suggestion I figured out what the problem was. The issue apparently came from the fact that after hitting combine I was just hovering my mouse over the gem and hitting 9 without clicking on the window to make it the active window first. If I bring the window in focus first and then hit 9 there is zero issue. Thanks for the suggestion and t

[2015-05-15 14:39] #4 closed

[2015-05-17 12:20] 12345ieee commented on #3
Ok, here are 3 different builds.
Try to play around with the delay settings, let's hope one of these work.
https://www.dropbox.com/s/l4j8jldqb9kj9eg/WGemCombinerX3.zip?dl=0

[2015-05-17 14:31] 12345ieee commented on #3
EDIT: If those do not work I have an even uglier hack to try, that should work, but I really hope I don't need to resort to that.

[2015-05-18 08:53] emilking91 commented on #3
Update: After some testing on the debug version, I came to the realization that the issue comes from the fact that when the combination is happening, the window selection is not focused on the game. After testing it both on the debug and released version, I can confirm that the combiner works perfectly ONLY IF the window that is focused is the game window.

[2015-05-18 08:55] 12345ieee commented on #3
Glad it all worked out

[2015-05-18 08:55] #3 closed

[2015-05-18 17:05] jrgensol opened #5 "eratic behavior on linux using Wine"
It seems a bit random whether or not the wGemCombiner finishes the gem correctly or not when using linux mint and Wine. In the video I tried to make a managem three times, only one was a success. I know it is not released for linux, but any idea if the problem is with the gemcombiner or with the rest of my system?
https://youtu.be/mvseIJX6M3g

[2015-05-18 17:31] 12345ieee commented on #5
I'm actually incredibly impressed it works at all.
Back in December when we released it I tested it under Wine 1.6.something in Debian testing and it crashed in horrible ways, so I gave up to make it work under Linux.

Now I am on Fedora with Wine 1.7.41 and it seems to work well, I correctly executed the spec even with a delay of 400 ms several times.

Ultimately the issue is the huge input lag g

[2015-05-19 05:47] jrgensol commented on #5
Those did not work either (all of them works some of the time). When going through the video in slow motion I saw that the problem was when combining gems, could it help if you added an option to add a few ms between the commands when combining?

[2015-05-25 21:56] 12345ieee commented on #5
Sorry for the huge delay, I'm busy with other stuff.
Maybe this weekend I'll try, but I don't think it'll solve the issue.

[2015-05-30 21:07] jdguy99 opened #6 "Combining Stopping"
I have had problems with the combine just stopping part way through.  i tried following suggestions made both on other issues here and on the steam forum.  I got it to work once out of at least 10 tries.  not sure what other info you need from me.

Thanks
JD

[2015-05-30 21:46] 12345ieee commented on #6
This has got to be the vaguest bug report ever.
There is no wGC version.
No mention of what OS you run,
No mention of which recipes you tried, nor what the final result you get is.

I need enough information so that I can reproduce the issue or there is no way I can understand/fix it.

[2015-06-05 08:35] Luzzifus opened #8 "combining steps failing"
I'm on Win7 using GCCS Steam version. I downloaded the latest release of wGemCombiner (1.0.6b) and read all the very well written instructions behind the "Help" button.

I tried with managem and killgem specs and the problem seems to be that the program never does combining steps, it only dupes and upgrades. To illustrate:

For example I pick the 8s killgem preset, the first instructions of that a

[2015-06-05 08:42] 12345ieee commented on #8
I have a vague idea what the problem behind it can be.
Could you repeat the same test on the web version at armorgames.com?

[2015-06-05 08:43] 12345ieee commented on #6
Nothing more followed, I assume it was a user error.

[2015-06-05 08:43] #6 closed

[2015-06-05 08:48] Luzzifus commented on #8
Tried on armorgames, same result.
Do you want me to make a video?

[2015-06-05 08:56] 12345ieee commented on #8
More useful would be the output log of the debug versions in issue #3 , could you try them?

[2015-06-05 09:08] Luzzifus commented on #8
--------------------------------------------
WGemCombinerPK.exe
--------------------------------------------

05.06.2015 11:05:59
Performing a combine:
Moved cursor to   0   {X=1148,Y=658}
Duped gem in slot   0   {X=1148,Y=658}
Moved cursor to   0   {X=1148,Y=658}
Combining gems    0 and 2
Moved cursor to   2   {X=1092,Y=658}
Combining gems    2 and 3
Moved cursor to   1   {X=1120,Y=658}
Duped gem

[2015-06-05 17:51] CooLTanG commented on #8
Yes I had that problem too, I even coded a change to the combiner program.  This problem exists because you are outside the default window size of: 1088x612.  You can fix this easily, by resetting the window by going to Options -> Set default game window size.

[2015-06-05 17:54] Luzzifus commented on #8
However, positioning the mouse pointer correctly doesn't seem to be the problem. Also it does not work in fullscreen mode either.

[2015-06-05 17:56] 12345ieee commented on #8
@CooLTanG that's exactly why I asked him to use the AG version, but we'll see if things change once we cleaned up your pull request.
Sadly I can't make test builds right now, need to wait 1-2 days.

[2015-06-05 17:57] CooLTanG commented on #8
Even with the AG version, you can enlarge your screen (zoom page) and it'll mess up, cuz he's outside the bounds of the default height of 600 if its the AG version.

[2015-06-05 18:04] Luzzifus commented on #8
@CooLTanG:
I didn't do that when I was testing.

But you seem to be right: I am at a different PC now where I didn't have this problem before. And I tried to set window mode and resized the window. This indeed reproduced the bug and it was fixed again when resetting the window size or going to fullscreen.

That's the major difference to the other PC where I initially encountered the problem: Fulls

[2015-06-05 18:20] CooLTanG commented on #8
The fullscreen feature (the toggle in options on the combiner program), will only work if your screen has a 16:9 ratio also, not sure if u have that or not.  That's assuming ur talking about the Steam Version too, I don't think that works for AG version, since I can't find a place to fullscreen it.

[2015-06-15 08:19] Crnimile commented on #8
I have same problem. But if i turn off "Show info panels" ingame then it start working normal.

[2015-06-25 08:04] depthperception opened #12 "key detection failed"
I keep getting this message almost randomly "key detection failed, or you were already holding 9. Try again." once the message comes up the first time it doesn't go away no matter what I do. even closing the program and reopening it does not fix the issue. Then randomly it starts working again.

I am playing on kongrigate.com on win7. when the program works it works great but when it doesn't....

[2015-06-25 15:21] 12345ieee commented on #12
I know, the issue is fixed on PR #9, I just need to get around, test and
release it

2015-06-25 10:04 GMT+02:00 depthperception <notifications@github.com>:

[2015-06-25 17:49] depthperception commented on #12
I'm glad to hear you know about the issue and there will be a fix for it. Do you know of a work around for the short term?

[2015-06-25 17:53] CooLTanG commented on #12
My version ignores the popup message, and has a lot more fixes and is simplified, just need to pick a spec and then just press "9" over the gem for it to work.

https://github.com/CooLTanG/wGemCombiner/releases

[2015-06-26 00:36] 12345ieee commented on #12
@CooLTanG Man, I understand you want your version to release, but I've been busy this period (exams, so many exams).
If you want to release faster, test that it works for every combination (Flash windows at normal size and Steam version at every size you support with the handle), as that is the longest thing to do and I cannot do it atm.

[2015-06-26 01:47] CooLTanG commented on #12
I have tested it, but its fine I'll continue to use it. You can release it whenever your free to.

[2015-06-27 03:53] IsaacsLaughing commented on #12
While working on this, would an option to change the hotkey be possible?

[2015-06-27 12:35] 12345ieee commented on #12
@IsaacsLaughing Submit this as a new issue please, when I have time I'll
see what I can do.

2015-06-27 5:53 GMT+02:00 IsaacsLaughing <notifications@github.com>:

[2015-07-29 04:25] dubloe7 commented on #8
It only works in 16:9? So the reason it doesn't work is because my monitor has a monitor aspect ratio instead of a television aspect ratio? The weird part to me is that as far as I can tell the program is trying to click on the combine button and hitting the amplifier button instead, that seems needlessly harder than just sending the combine shortcut key.

Are there any plans to fix this in the fu

[2015-07-29 04:35] CooLTanG commented on #8
I have fixed this feature on my release, located here:
https://github.com/CooLTanG/wGemCombiner/releases

Although it does still click the combine button because its faster in terms of operations, I tried the other way already.

[2015-07-29 19:46] dubloe7 commented on #8
That's the version I was using though (1.0.6b), so it appears I may have a different problem. Any suggestion as to what to try?

[2015-07-29 19:50] CooLTanG commented on #8
It's actually version 1.0.7, the creators have been too busy to add it to their own git, but it's on my own one with the link above.

[2015-07-29 19:53] 12345ieee commented on #8
Ok, at this point is clear I can't keep up with this.
I have another month of internship, a month of exams, then I need to reinstall Windows to work on wGC, I clearly can't do this.

@CooLTanG If you feel like picking this project up, send me an email and we'll arrange a more permanent solution.

[2015-07-29 20:02] CooLTanG commented on #8
Sure, you can add me to the team anytime

[2015-07-29 20:03] 12345ieee commented on #8
There's not only that...
@CooLTanG
Can you drop on the IRC channel #gemcraft on freenode.net? I have a couple things I'd like to talk with you.

[2015-07-29 20:05] dubloe7 commented on #8
I see, I wasn't paying enough attention evidently. Thank you for your help.

[2015-07-29 20:18] 12345ieee commented on #8
A direct link for you @CooLTanG
https://kiwiirc.com/client/irc%3A%2F%2Firc.freenode.net%2Fgemcraft

[2015-07-29 20:21] CooLTanG commented on #8
k there

[2015-07-29 21:14] #8 closed

[2015-07-29 21:15] #12 closed

[2015-07-31 15:58] 12345ieee opened #14 "Customizable hotkey"
I leave here a comment that got lost some time ago:
https://github.com/gemforce-team/wGemCombiner/issues/12#issuecomment-115953378
as a remainder.

[2015-08-04 04:00] CooLTanG commented on #14
Added to beta client

[2015-08-04 04:00] #14 closed

[2015-08-09 15:41] IsaacsLaughing opened #15 "Custom hotkey"
A bit of a niche issue, granted, but the current key does not function normally on my keyboard, so the option to set our own would be much appreciated.

[2015-08-09 15:57] 12345ieee commented on #15
See #14.
The code is already in place, it's just a matter of testing and releasing (as usual I cannot test, due to lack of Windows)

[2015-08-10 05:48] 12345ieee opened #16 "Release 1.0.8"
@gemforce-team/wgemcombiner
I made some extra modifications on top of the beta branch, IMHO it's ready to release, IFF it works (can you check, @CooLTanG ?)

Contents:
* Base gems list box ( see #10 )
* Selectable combine hotkey (see #14 and #15 )
* Bug fixes and various enhancements

[2015-08-10 07:23] CooLTanG commented on #16
Yeah looks good, I forgot those 1-6 keys, nice job fixing that.

[2015-08-10 08:11] 12345ieee commented on #15
Released new version with the requested feature.
Closed.

[2015-08-10 08:11] #15 closed

[2015-08-10 08:11] #16 closed

[2015-08-10 08:13] 12345ieee commented on #16
@CooLTanG
Be careful, the tag you attached the release to is 2 commits behind the .exe you put.
This time was something minor (your contribution list) but be more careful.

I made a new v1.0.8a tag at the tip of master and pointed the release there, all is fixed.

[2015-08-10 08:18] CooLTanG commented on #16
Yeah if wouldn't let me use that 1.0.8 tag probably cuz of the one u put up. It wouldn't let me upload the exe for awhile either, even switched browser.  But ya minor change there.

[2015-08-15 06:08] 12345ieee opened #18 "Update recipes"
Hi @CooLTanG
time to update the recipes, here there are all the ones currently in gemforce repo:
https://gist.github.com/12345ieee/58dfd9d012160381a1b9#file-recipes-txt

One of them is longer than 1M, you'll probably need to adjust the boxes a bit, if you can.

If you can make recipe long 7 digit to work (1M-9.9M) I'll write up the one I have till 4M and send them.

[2015-08-15 15:34] 12345ieee commented on #18
EDIT: Sorry, I sent a commend wrong, there you have all of them up to 16k
I'll send the ones up to 1M later

[2015-08-17 00:09] CooLTanG commented on #18
I've added them, just can't figure out why its not loading them up.  I'm looking into it though, I'll let ya know.

[2015-08-17 00:14] 12345ieee commented on #18
Now, I don't recall exactly how the loader worked but it would be nice to be able to load them as I gave them to you.
There might be some problems with recipes long 4 (which should not be in wGC) that I left in the file by error.
I hope the new recipes are correctly replacing the corresponding old ones.

I have also some problem to retrieve the recipes bigger than 16k (I won't be able to look into

[2015-08-17 02:05] CooLTanG commented on #18
Ok got it working, had some issues, but it should be all working now that I tested it.  I'll update to another release in a day or 2.

[2015-08-17 02:13] 12345ieee commented on #18
There was a huge mess with your commits.
I squashed them all in a single commit and pushed to branch `rc`.

I have also made an error in the combines I gave you, most of the recipes you have are probably not the correct ones, sorry.

I'll try to fix this stuff later this week, sorry for the time wasted.

[2015-08-17 02:15] CooLTanG commented on #18
np, let me know and I'll update em

[2015-08-20 14:18] rschurade opened #19 "Steam Version, combine not working"
When I run an upgrade recipe, for example the simple orange combine, I end up with a few grade 1 and 2 gems because the combine doesn't seem to work. In the process I see the "bomb" button getting activated quite a few times.

Also when trying to follow the recipes manually, the game places new gems in the right most available column. For our orange combine example, that means new gems go to 1C, 1

[2015-08-20 14:32] 12345ieee commented on #19
What version of wGC are you using?

[2015-08-20 14:34] rschurade commented on #19
1.0.8

[2015-08-20 15:12] rschurade commented on #19
1.0.8 the top download on the release page.

2015-08-20 16:32 GMT+02:00 Andrea Stacchiotti <notifications@github.com>:

[2015-08-20 15:29] 12345ieee commented on #19
This is a job for @CooLTanG (I am on Linux)

[2015-08-20 17:48] CooLTanG commented on #19
Orange combine just requires the orange gem alone in the bottom right slot (1A), which is where your mouse cursor should be over too when you press '9'.  From the sound of your post you have it over 1C (bottom left).  If I'm wrong try combining with the window reset (go into options and click "Set default window size")

[2015-08-20 18:04] CooLTanG commented on #19
I should make that clearer without having to go to the help files probably.

[2015-08-20 18:51] rschurade commented on #19
Oops, well sorry. Who would have thought it's right to left :)

[2015-08-20 18:51] #19 closed

[2015-11-16 01:57] RobinHood70 opened #20 "kg218226C fails"
When the above recipe is finished, the final gem is one level short of what it should be, and there's an extra (start + 2) lvl gem left over.

Yes, I know it says it might not work, but in repeated testing, it follows the same pattern every time, so it clearly doesn't work and should be fixed/removed.

[2015-11-16 02:05] 12345ieee commented on #20
On Linux wGC crashes if I try to even select it, and I have currently no access to Windows.

I had actually to update all the recipes, as you can see [here](https://github.com/gemforce-team/gemforce/tree/master/results/killgem-combine) the kg218226C isn't even an optimal combine anymore, but I've not had time to do that.

I'm sorry, but unless somebody's willing to have a look at the 36+ slots fol

[2015-11-16 07:21] RobinHood70 commented on #20
Okay, fair enough. Just for the record, there's also a bug in the kg262144C instructions as well...again, probably from the 36+ code. Between steps 2802-2805, it combines everything on row 12 onto 12B, then duplicates 12C, which of course is now empty.

I might have a go at the code myself over the next couple of days, but since I find it kind of amazing that you figured out a way of doing that in

[2015-11-16 07:24] 12345ieee commented on #20
The reason I was/am not able to fix the folding code is because I didn't write it in the first place.
That part is due to Suuper, I worked on other parts.

Around 75% of the combines that have to be folded have some sort of problem, if you want to look at it, good luck.

[2015-11-16 07:34] RobinHood70 commented on #20
Thanks, I'll probably need it! :P

[2015-11-24 05:33] RobinHood70 commented on #20
Got it! I just created a 262144 kill combine successfully for the first time ever. I'll look into uploading the code tomorrow, but I'm definitely gonna fork the project, cuz I basically did a total overhaul on just about everything, and updated the code to C# 6 at the same time.

[2015-11-24 08:00] 12345ieee commented on #20
Congratulations!

Looking forward to take a peek at it.

Maybe we can sneak in the new recipes and release a v1.1, let me know.

[2015-11-24 18:34] RobinHood70 commented on #20
Okay, I forked it and uploaded the new copy. I’m very new to Git and even newer to GitHub, so let me know if I did anything that causes issues when cloned to another machine. (Specifically, I’m wondering about the packages.config and the ruleset.)

[2015-11-24 19:22] 12345ieee commented on #20
I'll have a look now.
You can find me on the #gemforce channel at freenode if you want to discuss (I may have several question) and can help you with git

[2015-11-24 19:23] 12345ieee commented on #20
Sorry, the #gemcraft channel.
Whatever, I'm in both now.

[2015-11-25 14:14] 12345ieee commented on #18
Will be part of a bigger rework, I close this for the moment.

[2015-11-25 14:14] #18 closed

[2015-11-25 14:16] 12345ieee commented on #20
You can find here an example of a file I can easily generate for you to parse:
[leech.txt](https://github.com/gemforce-team/wGemCombiner/files/43914/leech.txt)

If it's fine, I'll upload all the other recipes.

[2015-11-25 21:22] RobinHood70 commented on #20
Looks good. I’m just starting on reading text files now. Shouldn’t take too long.

From: Andrea Stacchiotti [mailto:notifications@github.com]
Sent: November 25, 2015 9:17 AM
To: gemforce-team/wGemCombiner <wGemCombiner@noreply.github.com>
Cc: Robert Morley <robinhood70@live.ca>
Subject: Re: [wGemCombiner] kg218226C fails (#20)

You can find here an example of a file I can easily generate for you t

[2015-12-11 18:56] RobinHood70 commented on #20
Since this is now fixed, I'm closing this issue.

[2015-12-11 18:56] #20 closed

[2015-12-11 19:13] RobinHood70 opened #21 "To Do List"
### To Do
- [ ] Shorten combo boxes to fit inside client area
- [ ] Implement "amp" specs by altering name only (e.g., 000004 use with mg000032 (growth))
  - [ ] Bonus: follow color/effect choice when linking to amp gem (e.g., use with oc000004 or lc000004)

### Consider for Future Versions
- [ ] Advanced menu option that re-does current menus to allow combines, amps, and omnias (lots of coding in

[2015-12-11 19:54] CooLTanG commented on #21
The mouse calibrations for stretched windows should already be implemented.  Although doesn't account for people putting mouse cursor over gems in 1C instead of 1A
On Dec 11, 2015 12:13 PM, Robert Morley <notifications@github.com> wrote:To Do

 Shorten combo boxes to fit inside client area
 Implement "amp" specs by altering name only (e.g., 000004 use with mg000032 (growth))

 Bonus: follow color/

[2015-12-11 20:05] 12345ieee commented on #21
Survey for GES specces, if you have some data, please post there: http://steamcommunity.com/app/296490/discussions/0/487876568227032402/

[2015-12-11 20:58] 12345ieee commented on #21
Updated top post

[2015-12-11 21:51] RobinHood70 commented on #21
@CooLTanG: I’ve had it fail at least once using the Flash Projector, where it was clearly the slot positions that were the problem. I want to do more research to determine exactly when it fails, but the manual calibration would be for the edge cases like the one I encountered.

[2015-12-11 22:45] CooLTanG commented on #21
Ah yes flash version would fail, steam one works
On Dec 11, 2015 2:51 PM, Robert Morley <notifications@github.com> wrote:@CooLTanG: I’ve had it fail at least once using the Flash Projector, where it was clearly the slot positions that were the problem. I want to do more research to determine exactly when it fails, but the manual calibration would be for the edge cases like the one I encountered.

[2015-12-13 14:54] 12345ieee commented on #21
Updated top post

[2015-12-13 18:32] RobinHood70 commented on #21
Me too! :)

[2015-12-14 02:51] 12345ieee commented on #21
GES recipes status:

The first batch is in (1687e8fc2b89540508e0e7), the file format will be the same as any other spec.

gemforce internally finds them by setting damage of bbound and red to 0 and then going on normally. This grants the same results of an enhancement of x10 onward, and I liked it more than setting an arbitrary enhancement factor.
gemforce also forces the red to be added in a (b+r

[2015-12-16 13:50] BenjiIsNotAmused commented on #21
Hey guys, signed up here to let you know - when using latest release (1.0.8) and low delay (50) in a windowed fullscreen (windowed game, but maximised) the combiner acts erratic - resulting gems cost much more than their counterparts done when game window is either maximised and fullscreen OR when its windowed and with its default size. Oddly enough, raising delay to 250 seems to fix the issue
One

[2015-12-16 20:44] RobinHood70 commented on #21
Hi BinjiIsNotAmused,

Using buildings as extra slots is on our list for future consideration (https://github.com/gemforce-team/wGemCombiner/issues/21), but is a bit harder than it seems for the very reason you mention: duping gems is no longer straight-forward, and you have to make sure you leave base slots open to duplicate to, then move those gems into buildings before you need to duplicate some

[2015-12-16 20:54] RobinHood70 commented on #21
Oops, just noticed now that I'm on the thread on the web, that I was actually replying to the very thing I linked to. :)

[2015-12-16 21:08] 12345ieee commented on #21
Not really a problem.
@RobinHood70 you were silent for several days, is everything alright?

[2015-12-16 21:39] RobinHood70 commented on #21
Yeah, just going through a bit of a bad spell. I've been watching replies, but had nothing to say to them, really. :)

[2015-12-17 00:14] RobinHood70 commented on #21
I added combo handling in the last commit. It's a bit rough, but the basic concepts are there. Not sure if this is the best approach or not, but it seems better than shuffling off different recipes to different locations. We can change if need be. Also need to deal with the fact that we have duplicate recipes deliberately now (e.g. "y").

[2015-12-17 00:15] 12345ieee commented on #21
I'll have a look.
Reach me in chat if you want to discuss.

On an unrelated topic, deleting the user's input just because they wrote "ob" seems a tad harsh.

[2015-12-17 00:58] RobinHood70 commented on #21
Hadn't thought of that. I'll fix it tomorrow to not change the contents if there's an error. If there's anything else, send me an e-mail or just catch me tomorrow. I'm still a bit off my game and not very clear-headed at the moment.

[2015-12-17 02:11] 12345ieee commented on #21
I fixed it in 3c4e5ff.

I still stand by the idea that we should have 2 separate dropdowns for gem specs and amp specs, the current seems very confusing and cluttered.

Take care.

[2015-12-17 11:27] BenjiIsNotAmused commented on #21
Hey, IDK if I can reply to your reply (haha :]) so Ill just write it here - the issue I seem to have with combiner appears only in windowed fullscreen mode - windowed mode in default resolution and borderless fullscreen seems to work fine (at least I wasnt able to replicate the issue yet, perhaps with more mobs on screen but thats different thing). At first I thought its resolution related issue -

[2015-12-17 17:32] 12345ieee commented on #21
Added line breaks to https://github.com/gemforce-team/wGemCombiner/issues/21#issuecomment-165429088, so I can actually read that wall of text, @BenjiIsNotAmused , next time write in a comprehensible way.

It's not "weird", the combiner picks up the resolution automatically and correctly, the problem is that the game lags more in true fullscreen, which is something we sure can't fix.

The delay is

[2015-12-17 18:48] BenjiIsNotAmused commented on #21
"It's not "weird", the combiner picks up the resolution automatically and correctly, the problem is that the game lags more in true fullscreen, which is something we sure can't fix."
Well, thats not what I wrote. I wrote it lags more in windowed fullscreen :]

About amps - just thinking aloud about (possibly) using amps as additional slots while combining.

About auto throttle - I was thinking abo

[2015-12-17 20:33] RobinHood70 commented on #21
Graphics processing can be slow, yes, but compared to the speed of combining, it's probably irrelevant. The only way to know for sure would be to try it. Changing resolution might cause minor problems, but given that the program already compensates for resolution changes, it's probably not that big of a deal. I've done very preliminary research into it, and it doesn't look like you'd actually have

[2015-12-17 21:03] CooLTanG commented on #21
To get away with lag I pause the game and combine.  If there is no shadows on screen I can even put it at 0 ms and it runs fine. This is with a windowed steam version, which runs much smoother the smaller you make the window
On Dec 17, 2015 1:33 PM, Robert Morley <notifications@github.com> wrote:Graphics processing can be slow, yes, but compared to the speed of combining, it's probably irrelevant.

[2015-12-18 11:30] BenjiIsNotAmused commented on #21
Hey, I wanted to toy a bit with BitBlt just to see how long capturing and processing single frame would take, to see if using it for auto trottle makes any sense but... I feel Im too dumb with Windows applications.
Ive created new C++ project to try out this example https://msdn.microsoft.com/en-us/library/windows/desktop/dd183402%28v=vs.85%29.aspx , figured out how to deal with "stdafx.h" and #in

[2015-12-22 19:32] 12345ieee commented on #21
Working on finishing [1], should be ready in a couple hours.
@RobinHood70 Have you had a look at the GES problems?

[2015-12-25 21:28] 12345ieee commented on #21
Updated

[2015-12-27 18:53] 12345ieee commented on #21
I've done an initial version of the short names in 3ce4083c614a620f88b3c485dbf6b5d23dc79246, have a look, @RobinHood70 .

I've also done other things in the last commits, have a general look if they are decently done.

[2015-12-28 18:51] RobinHood70 commented on #21
Hey, I've been down with the flu for the last week, but I'll have a look at it today.

[2015-12-28 19:30] RobinHood70 commented on #21
That works!

[2015-12-28 21:31] 12345ieee commented on #21
I'm working on finishing the help, if you can finish the GES part, @RobinHood70 , we'll release today/tomorrow.

[2015-12-29 01:57] 12345ieee commented on #5
wGC 1.1 was just released.
Closed, as it's probably fixed by the new version.

[2015-12-29 01:57] #5 closed

[2016-01-03 12:55] davehale commented on #21
new release has funky issue for me. hovering over a gem and pressing combine does nothing unless i move and click focus back to your app. Mouse will move if a combine is stepping through then, but mouse position is registered at where i click on your app

[2016-01-03 17:07] 12345ieee commented on #21
Not stating used OS - check
Not stating Gemcraft version - check
Posting in an unrelated issue - check

Bug report will be completely disregarded till it's properly posted.

[2016-01-03 21:14] davehale commented on #21
is np. i grabbed the source and fixed it earlier. I just need to change the default dir for the config and temp files so it doesn't need admin rights to access and all set. Thanks for the all work you all did on it

[2016-01-03 21:34] 12345ieee commented on #21
Well, disclosing your fix could be useful for everyone.

You need no admin rights, settings are stored under your user.

[2016-01-05 15:02] davehale commented on #21
i just fudged some code to switch focus on the game window which was temperamental but worked to a fashion, But noticed when i ran under administrator to remove the config save errors due admin rights the game focus error i was having didn't occur.

System.Configuration.ConfigurationErrorsException: Failed to save settings: An error occurred loading a configuration file: Access to the path 'C:\Use

[2016-01-05 16:27] RobinHood70 commented on #21
Interesting. We're just using the built-in .NET configuration settings. I'm surprised that they would react that way, but this is my first time using them, so now I know that they do. I'll do some research on the issue, but I don't know if there'll be an easy fix other than to not install the program to Program Files (or similar admin-only folder).

[2016-01-05 16:33] RobinHood70 commented on #21
I just tested on my machine and had no problems with it. As ieee suggested, can you please start a new issue on this and include your OS and where you installed the app to. Thanks!

[2016-01-05 16:34] 12345ieee commented on #21
99 out of 100 there are some problems in the folders of the user 'dave' who
can't access hus own appdata folder.

Robin, we have no installer, the exe csn be kept wherever you want.
Il 05/gen/2016 17:27, "Robert Morley" <notifications@github.com> ha scritto:

[2016-01-05 16:36] RobinHood70 commented on #21
ieee: I know that. :) I assumed he'd copied it to Program Files, and that that was why there was a permissions error. I'm inclined to agree that the permissions error is probably in his user folder rather than where he installed the .exe.

[2016-01-06 09:05] davehale opened #22 "run as admin needed"
for info and not request for fixing as i'm more than happy running it as admin

os is win 7
gemcraft latest version
.net is 4.5

game exe is in "C:\Program Files (x86)\Steam\steamapps\common\GemCraft Chasing Shadows\GemCraft Chasing Shadows.exe
combiner exe is in C:\Users\dave\Favorites\Desktop\wGemCombiner-master\WGemCombiner-v1.1\WGemCombiner-v1.1\WGemCombiner.exe
I start both from desktop short

[2016-01-06 09:06] davehale commented on #22
as a side to those file issues - when i manually created those files first and ran as non admin all is fine,(will recheck that is correct).

As in the file issues are. The game focus / mouse movement is still inactive

[2016-01-06 09:58] davehale commented on #22
only moved wgem exe to "C:\Program Files (x86)\wgem" and opened with shortcut on desktop whilst still logged as user dave and both issues solve, no idea why running the exe as non admin from within dave's desktop dir stops file creation in appdata folder yet from where it is now is fine. And super shrug on the mouse issue.

still if anyone else has or reports similar issues its at our end and easi

[2016-01-06 15:14] 12345ieee commented on #22
Uhm...
My current guess is: `C:\Users\dave\Favorites\Desktop\wGemCombiner-master\WGemCombiner-v1.1\WGemCombiner-v1.1\WGemCombiner.exe` is a path too long for some function we use, whilst `C:\Program Files (x86)\wgem` is not. Or maybe dashes or dots are hated by some other function.

@davehale : could be of huge help if you could try out some different length of path (simply lengths, subfolders pro

[2016-01-06 16:30] 12345ieee opened #23 "Messing with the parser"
This is NOT something that really needs fixing. It's just hilarious.

Write `2h` in the recipe field and parse as Parenthesis. Then reparse as parenthesis. And again and again. You'll notice a pattern.

Clearly related to the grade/cost workarounds for the `h` gem, no need to fix it, nobody'll ever use two `h` gems in a recipe.

[2016-01-06 17:36] davehale commented on #22
with wgem exe running as non admin from

C:\Users\Guest
C:\Users\dave
C:\Users\dave\Favorites
C:\Users\dave\Favorites\temp

all is fine.

running from original place at  C:\Users\dave\Favorites\Desktop\wGemCombiner-master i get  both issues.

if i simply right click, copy and paste the folder i get the same issues with the copied exe now at  C:\Users\dave\Favorites\Desktop\wGemCombiner-master - Co

[2016-01-06 17:40] 12345ieee commented on #22
I'm completely appalled (and also completely unable to replicate the problem on my system).

I have only one question, you said you downloaded the source, did you by any chance compile the original .exe by yourself?

Because VS runs as admin by default, which might have a role here.
If that is the problem, grabbing a fresh .exe should solve it.

[2016-01-06 18:06] davehale commented on #22
half solved it.

the exe is running with the user group  Users(dave-HP\Users) permissions despite me being logged in and downloaded the exe while on as dave(dave-HP\dave)

[2016-01-06 18:15] davehale commented on #22
yeap i did compile, but fresh download after all traces of old deleted has same issues but due the app not installing(?) with my user permissions but defaulting to generic user group permissions

allowing it write as a permission for that user group solves both. removing write however obviously prevents config file creation but disables the app from mouse control when not focused on the wgem app w

[2016-01-06 18:30] davehale commented on #22
the exe 's properties security tab deff says the exe owner is dave(dave-HP\dave) and i'm deff logged on as that user. But anyway, i can get it to run and it works a treat so unless others are struggling to get it to work for the same reason i'm happy to run it as administrator

[2016-01-06 20:27] 12345ieee commented on #22
Not really an "error", just the closest label I have.
I'll now close it, as I believe it's on the @davehale 's end, nothing we can't do.

If there is additional information feel free to reopen it

[2016-01-06 20:27] #22 closed

[2016-01-09 02:20] jforr opened #24 "Combine button not working"
I have Gemcraft loaded and running in default window size.  When I press combine and then the combine hotkey, nothing appears to happen.  I see wgemcombiner is working and runs through the steps, but no mouse movement on my end.

I loaded up some old versions of the application and in 1.05 the mouse does move, but mouse clicks don't appear to be registering so no actual combines take place.  I inc

[2016-01-09 02:23] RobinHood70 commented on #24
Try going into the options and selecting "Using Internet Explorer" (even if you're not). See if that helps. And if it does, and you're not using IE, please let us know so that we can change the wording appropriately.

[2016-01-09 02:29] jforr commented on #24
This is on the steam version, but there is no mouse movement at all with or without the internet explorer option checked.

[2016-01-09 02:42] RobinHood70 commented on #24
Hmmm...that's odd. It's even odder that an old one would work and the new one doesn't, as the mouse movement routines are essentially the same. Which OS are you on? And just to cover all the bases, what happens if you try using "Run as Administrator"?

[2016-01-09 02:57] jforr commented on #24
Run as administrator did the trick, so probably just something to through into the FAQ.  This was on Windows 7 Pro.

[2016-01-09 02:59] RobinHood70 commented on #24
That's the second time we've seen that on a Windows 7 machine. Very odd. Unfortunately, I don't have access to one to figure out the exact nature of the problem.

[2016-01-09 15:46] 12345ieee commented on #24
@RobinHood70 We need to find out exactly what causes this problem, I propose writing about it in the readme and help and having an issue with people reporting their full system config (win version, NET runtime, etc...).

We can time this with v1.1.1 release, which I wanted to do in some days (I made some changes I wanted to get out)

[2016-01-10 08:40] RobinHood70 commented on #24
I just did some quick Googling, and apparently both keybd_event and mouse_event, which we're using, were deprecated a long time ago and may be unreliable. The recommendation was to use SendInput(). I'll look into it more when I have time, hopefully tomorrow.

[2016-01-10 08:53] RobinHood70 commented on #24
A little more Googling on SendInput found a much more in-depth response on the actual problem. If I'm reading this right, running as admin may be the only viable solution, but I'll look into self-signing and such as well.
http://stackoverflow.com/questions/22714374/how-to-programmatically-click-the-mouse-in-another-program-when-this-code-doesn

[2016-01-12 17:07] jforr opened #25 "Change default combine key"
I'm recommending a small suggestion to change the default combine key to a tilde " ` " key.  With multiple monitors it's easy to press your combine hotkey on another window and have it go crazy.

There might be issues with laptops or other smaller keyboards where the tilde is missing or requires a function key.

Also an option to pause hotkey detection without closing the app might also work well.

[2016-01-12 19:30] RobinHood70 commented on #25
Yeah, I really don't like the '9' key, myself. I have no objection to changing it to a back-quote, though I'm not sure how easy it is to access on international keyboards.

[2016-01-12 19:35] 12345ieee commented on #25
A back-tick in the Italian keyboard is `Alt-Gr + ì`, not something easy to access.
Also, you cannot trigger the combine when you have a modifier key pressed, to let people type `Shift + 9` without problems.

There is an option to change the key exactly for this reason, I see no point in changing the default value.

[2016-01-12 19:36] 12345ieee commented on #21
@RobinHood70 Do you plan on modifying something? I plan on releasing v1.1.1 tomorrow, with just the changes that are in now plus a mention of the "Run as admin bug" in some places.

[2016-01-12 20:53] RobinHood70 commented on #21
No, I won't be changing anything. I looked into the problems with admin rights being required in some situations, and that's normal for programs that inject mouse movements or key presses into other programs. It doesn't happen in all situations and depends on a lot of things. The only way we can work around it would be to provide a full installer with a digital certification included that allows u

[2016-01-14 08:35] 12345ieee commented on #25
Well, closing, as there is nothing to do.

If @jforr happens to have stronger arguments for a default key change, he/she can reopen this.

[2016-01-14 08:35] #25 closed

[2016-01-14 17:12] deuter75 opened #26 "debug modus"
after ca. 1 hour of playing the game (~e30 mana), the combiner starts to produce unpredictable stones.
i play in default resolution, set it back to default resolution when the problem occures, restart the combiner, set the delay from 50 to 100, from 100 to 150, change combining steps - but the issue still remains.
I studied a bit the combinercode, and saw there is a outcommented section with a mes

[2016-01-14 20:44] 12345ieee commented on #26
If the combiner gets the right gems at the beginning the resolution is right.
Your problem is that you need a bigger delay when there are many monsters on screen, try to up it to ~500.

[2016-01-15 16:57] deuter75 commented on #26
ok - thank you very much!
i'll give it a try :)

[2016-01-15 19:15] deuter75 commented on #26
works pefect!
thx 12345ieee :)

[2016-01-15 19:16] 12345ieee commented on #26
Great to know, @deuter75 .
I'm closing this.

[2016-01-15 19:16] #26 closed

[2016-01-23 23:51] BilboCGL opened #27 "(b+o) is a difference to (o+b)"
For the parser it makes a difference whether (b+o) is used or (o+b)
For example ((b+o)+(b+o)) takes 2 steps but ((b+o)+(o+b)) takes 5 steps.
That is of course no important issue, but maybe a point to optimize

[2016-01-24 03:02] 12345ieee commented on #24
I am closing this, as there is nothing we can really do.

[2016-01-24 03:02] #24 closed

[2016-01-24 09:02] RobinHood70 commented on #27
Hmmm...yes, I can see why that would happen. I'm not sure how easy that'll be to address, though. I'll have a look into it sometime soon.

[2016-01-24 10:55] 12345ieee commented on #27
Some insight, there is a multi-layered issue:

1) Parenthesis parse "o+b" != "b+o", which is incorrect, it should not emit
the second equation at all, not leave it to the equation parser to collapse
them

2) The hashmap that the equation parser uses to check duplicates checks the
order, too, by design (it shouldn't)

My opinion is that
"""
2=0+1
3=1+0
"""
should emit a double definition error, tho

[2016-01-25 18:49] RobinHood70 commented on #27
Okay, I've added some code to handle these types of issues. It might not work in really complex cases, I'm not sure, but I think it should work well enough for basic cases. The parenthetic parser simply does a search for both x+y and y+x, while the equation parser always sorts the highest number first and checks for duplicates as normal based on that. I think that should address all of the issues

[2016-01-25 18:57] 12345ieee commented on #27
Reviewing....
In the meantime, be careful that you are still on your old testing
branch, that branched off from v1.1 instead of the newest state.
Please put (NOT merge) your new commit on top of master

Il 25/01/2016 19:49, Robert Morley ha scritto:

[2016-01-25 19:05] 12345ieee commented on #27
I confirm the issue I saw was solved (by the parenthesis matching code).

An extremely minor nitpick, if you give an equation with a
2=0+1
3=1+0
chain, the error is "1+0 appears multiple times".
Changing it to "1+0/0+1 ..." might help some confusion.

Great work, thanks @RobinHood70 .

[2016-01-25 19:19] RobinHood70 commented on #27
Yeah, I couldn't see an easy way around that, since it's just the basic duplicate parser that's picking it up.

As for your instructions about what to do with Git, I'm not entirely sure I followed, but I think so. I'll have a look at it and try a commit shortly.

[2016-01-25 19:30] RobinHood70 commented on #27
Okay, I just cut & pasted the same changes to the master branch. Not sure if that's what you were suggesting I do, but it gets the job done, anyway. (Sorry, Git might as well be written in Chinese for all the sense it makes to me.)

[2016-01-25 20:25] 12345ieee commented on #27
Yes, it did the job, the only problem is that the commit message makes
no sense at all now, but no big issue.

Il 25/01/2016 20:30, Robert Morley ha scritto:

[2016-01-25 20:44] 12345ieee commented on #21
@RobinHood70 Somehow a bit unrelated, do VS have a fancy way of building a simple distributable package that has the exe, the recipes.txt and LICENSE & README?
Because running the linux shell script after copying the files around is not exactly practical, beautiful of maintainable in the slightest.

[2016-01-25 22:24] RobinHood70 commented on #21
Googling quickly, it looks like VS considers a setup package to be just another type of project that you can create. I've never done that before, though, and I have other things that I need to look at in the next week or two, so it might be a while before I can look into this more deeply.

[2016-01-29 16:59] lumpy007 opened #28 "Combine button not working"
Hi,
I am using win7 and the game is running on firefox. When i press the 9 button and my cursor is in a text editor it will write only .(hiding info) d(for duplicate) and u(upgrade) letters but no g(combine). Tried on the game too in a good scaling but the gems are put on each other instead of combining it. Tried to use with Using Internet Explorer button but still not functioning.

[2016-01-29 18:38] RobinHood70 commented on #28
Try running it as an administrator. That's been the problem most of the time people have experienced issues like this.

[2016-01-29 19:45] lumpy007 commented on #28
The administrator rights is not helping, also tried to set the process priority higher but still no g button.

[2016-01-29 20:26] RobinHood70 commented on #28
No, the g button wouldn't be expected. It uses the menu button to do combines, not the g key. (Combines were failing with the g key at high speeds, but don't when using the mouse.)

I've tried it in Win 10 on the latest version of Firefox and everything looks okay there, so I'm not sure what to suggest. I don't have Windows 7 available to test with.

[2016-01-29 20:28] 12345ieee commented on #28
Zoom level & fullscreen, the browser game must be at the original resolution for wGC to work (otherwise we don't hit the combine button).

[2016-01-29 20:35] lumpy007 commented on #28
You are right i was only close to the normal resolution, with a more precise window scaling it is working.

[2016-01-29 20:36] 12345ieee commented on #28
Nice to hear, I'll be sure to emphasize this more in the help.
Solved & closed.

[2016-01-29 20:36] #28 closed

[2016-02-04 20:56] Majamulli opened #29 "Upgrading / Delay Problem"
I have a suggestion / problem.

With ~30k mobs on the map, it's quite laggy and that makes it hard for the program to work properly. With the delay you can of course remove some of the potential problems, but sadly not all. I just tried to upgrade something and the first two steps are:

-Duplicate A1
-Upgrade A2

Between those two we have a one second delay. Sadly it's programmed that the mouse mo

[2016-02-04 22:35] RobinHood70 commented on #29
I had experimented with that at one point, but it didn't seem to be necessary in further testing. It's entirely possible that I just didn't have enough lag in my game (less monsters, different Flash client, whatever). I can fairly easily re-add a delay there...or perhaps half the normal delay, since these operations tend to be less intensive than combining?

[2016-02-04 22:58] Majamulli commented on #29
I guess half the normal delay would be enough. I tried it quite a few times and it's happening often. Adding it would be awesome :)

[2016-02-04 23:00] 12345ieee commented on #29
Please not mandatory, add an option if you have time, @RobinHood70

[2016-02-05 02:47] RobinHood70 commented on #29
Yeah, that makes sense. I'll try to get on it tomorrow.

[2016-02-05 12:10] Majamulli commented on #29
Awesome, thanks a lot! I will throughoutly test it and hope I can get consistant results with the added delay. If not I'll be back ;)

[2016-02-07 22:59] RobinHood70 commented on #29
Okay, code changes have been uploaded.

[2016-02-07 23:01] 12345ieee commented on #29
You'll probably want to make a debug version for our friend @Majamulli to test, @RobinHood70, as I cannot do it now.

[2016-02-08 00:06] Majamulli commented on #29
I wont have time to test it until thursday/friday due to an important exam. Once that's over I'll start another endurance and try the new delay and see how it works :) Thanks a lot!

[2016-02-09 21:54] Majamulli commented on #29
I started another run after all and am now at the point where exactly the same thing as described happens. I would like to try out the new version, however, I have no idea how I can use it. Any help there?

[2016-02-09 23:28] RobinHood70 commented on #29
Send me an e-mail at robinhood70@live.ca and I'll reply with a copy of the new program. I'm having a lot of Internet issues right now due to a problem with our ISP, so let me know if there are any problems with it.

[2016-02-09 23:29] RobinHood70 commented on #29
Send me an e-mail at robinhood70@live.ca and I'll reply with a copy of the new program. My ISP is having a lot of Internet issues at the moment, so let me know if anything goes wrong.

[2016-02-18 22:59] 12345ieee commented on #29
So, @Majamulli and @RobinHood70 , what came out of this?

[2016-02-18 23:04] Majamulli commented on #29
RobinHood70 sent me a version with the option of adding an extra delay after mouse move. I've been using that version for the past week and it's been perfect in any situation. The random weird combines are completly gone and I get the perfect results constantly.

A small issue is that the timer is not working properly. But as far as I am concerned I don't really mind that. I just add ~50% of the t

[2016-02-18 23:06] 12345ieee commented on #29
I imagine @RobinHood70 forgot to account for this option when setting the timer, at least in your debug version.

@RobinHood70 : If you think the changes are significant, feel free to draft a new release (`1.1.2`).
If you have problems with packaging send the the exe and I'll package it.

[2016-02-18 23:11] Majamulli commented on #29
I would definitly add this in the new version. As it is right now it's an additional option that has to be manually enabled. There's no harm in addon it and it certainly helped me a lot and I think other people would also appreciate it :)

I didn't even know that it could be that great. I just assumed because of the lag it will become harder to combine properly and that I have to live with it unti

[2016-02-18 23:17] 12345ieee commented on #27
Why is this still open?

Fixed by @RobinHood70 in commit a42820a031d936b30edfe8e3b37637d93dc0bf44.
Closing.

[2016-02-18 23:17] #27 closed

[2016-02-24 04:02] Makaifren commented on #29
Is there someway I can get a hold of this new version?  I'm having the same problems using Firefox via Armor Games in Windows 7.  I'm certain most users having trouble just aren't coming here to create a github account so they can tell you about it.

Issues:
1: The longer the combining ( starting with 32 ), the greater a chance an action won't take place.  I've never seen a 512 work, and I had to

[2016-02-24 04:21] Makaifren commented on #21
@12345ieee @RobinHood70 When creating non-dependency binaries, I find that simply writing out the files at startup, when they don't already exist, just 'works' for everybody. Then run UPX on your application's .exe to cut the size way down instead of creating an installer.  If you go the VS Setup route, it's not just a lot more work and another project, but you're leaving footprints on everybody's

[2016-02-24 06:49] 12345ieee commented on #29
Let's start with saying that the in-browser version lags a ton, nothing we can do about it.

1. People can run combines in the millions with no problems tweaking the delays, this seems more a tooltip or delay problem. I'm sorry, without further details not much can be done.

2. I understand your point, your problem is that the cost of a gem is not `combine_length*gem_cost`, but `combine_length*(ge

[2016-02-24 06:51] 12345ieee commented on #21
1. If you have a better way to deploy this, consider helping us, we are both new to releasing this sort of applications.

2. I guess you want to have a look at the options, there should already be a setting that does what you ask for.

[2016-02-24 07:26] Makaifren commented on #29
1) The fix RobinHood already made would solve the problem I'm having.
Tweaking the delay makes it better, but stops improving after 150. I'm
certain that delaying the subactions is where the money shot is.

2) I probably failed to communicate properly.  The problem is that the
number of combines isn't mentioned, so I can't do the math. Your answer has
me reflecting on the math though... Is the num

[2016-02-24 07:46] 12345ieee commented on #29
1. Have a look at it
2. Yes, that is the whole point, the number of combines is the number of gems minus 1 by construction, so I don't need to write it down explicitly. We should write it in the help, maybe.
3. [Visual Studio Community 2015](https://www.visualstudio.com/it-it/downloads/download-visual-studio-vs.aspx) is free and it's what we use.
The project used to use .NET 4.0, but @RobinHood70

[2016-02-25 20:19] 12345ieee commented on #29
@Makaifren, so could you get it working?
If you can compile the source you need no "nightly builds", as the tip of `master` contains the fix you need.

1. I work on Linux, I don't have regular access to a Windows box (I usually use a VM).
wGC compiles with Mono 4.2+, I can compile with Mono and give it to you, but it'd be much better if you compile it yourself from the source.

2. Pull requests ar

[2016-02-25 21:03] Makaifren commented on #29
I got it to build by downloading the master code in a zip file. I built it
around 8:15p last night. Armor games went down for 2 hours of maintenance
last night from 8p to 10p.

I couldn't get the github installer to install as it's mid-install download
of content dies before it reaches the end to actually install it.  I'm a
big mercurial/HG guy, I have very little experience with git, anything fro

[2016-02-26 00:36] 12345ieee commented on #29
Great to know, @Makaifren !
To be honest, git is frightening to new users (I started hard with command line only), but Github's front-end is very nice and will make everything pretty easy, once you can install it (I have it installed in my win7 VM, it should work).

Have fun hacking on it.

[2016-03-03 05:18] Makaifren commented on #29
Ok, so... after some careful diagnostics i realized the core problem was
that using the  'Combine' button for G wasn't synchronous with the other
actions, and additionally it appears that flash needs to recognize the '1'
or '0' in the resulting keyboard messages coming down to it, indicating
weather the key was already up or down at the moment it was pressed, which
often gets confused by windows.

[2016-03-03 13:15] 12345ieee commented on #29
@Makaifren , I am very very impressed but I'm in a huge hurry and have not time to comment on several things.

Please do the following:
* Upload your code to your github repo
* Stop writing about this revamp in this (now pretty unrelated) issue
* Open a pull request with your new branch and move the discussion there, so @RobinHood70 and I can look at it, review it, compile it, run it, test it and

[2016-03-05 00:01] 12345ieee commented on #29
@Makaifren , this weekend I have some free time to look at this, otherwise I'll have to wait for next one (maybe).
Can you please upload your code?

Thanks

[2016-03-05 02:39] Makaifren commented on #29
I still don't know how, and I don't like replying to this email because
apparently it's going into a post/forum who's topic doesn't match the
conversation.  Perhaps you can email me directly?
On Mar 4, 2016 4:01 PM, "Andrea Stacchiotti" <notifications@github.com>
wrote:

[2016-03-05 02:50] 12345ieee commented on #29
No, I don't know your email address, because github acts as a middleman in the communication.

Please email me at:
crudepatate AT gmail DOT com

I'll then handle the git (hub)

[2016-03-05 02:51] 12345ieee commented on #29
No, I don't know your email address, because github acts as a middleman in the communication.

Please email me at:
crudepatate AT gmail DOT com

I'll then handle the git(hub) stuff

[2016-03-08 15:03] 12345ieee commented on #29
Sorry to bother you again, @Makaifren , but I received nothing till now and I still have no way to get your email.
Two ways to solve this:
* Email me at: crudepatate <AT> gmail <DOT> com (doing the obvious substitutions to get an email address)
* Add an email address to your Github account or post your email address here, so I can email you.

Sorry for all this, once we get this conversation going

[2016-03-15 04:12] 12345ieee commented on #29
We'll continue the discussion with @Makaifren in PR #30

[2016-03-15 04:12] #29 closed

[2016-04-05 17:19] zachanassian opened #31 "Spec 8o better then Orange Combine 00000064* 0,495855 ???"
OS - Windows 10 (64 Bit)
Game Version:
Steam - 1.0.6
WGemCombiner v1.1.1

Learnt about this program today and thought i would give it a try. Works perfectly with steam.

However results are astonishing. At least to me. Maybe I missed something. I tried the Kill Spec specs but the resulting gems were worse then the gems I produced by simply 'u' a gem like r3y4b

So I thought maybe I do something wr

[2016-04-06 00:06] 12345ieee commented on #31
This does not make sense.
64c for orange has a higher growth than 8c (obviously), so at the same cost the 64c gem is better.

The randomness in gem combination enters only in damage, and even then it's very very tiny once you are at high levels.

Your 1.5x loss of leech is explainable only with a messed up 64c I guess.
Try running it at high delay (or even manually, once), to check if it's the cas

[2016-04-06 15:46] zachanassian commented on #31
First I have to apologize for a typo. I have compared 7o vs Orange Combine 00000064* because both are 64c gems. I updated this in the original posting now.

I also found my error. I compared "Orange Combine 00000064*" vs 7o and had mana leech skill set to 45.

"Orange Combine 00000064*" will give a grad 6 gem that does only get an 180% boost from skill mana leech

7o will give a grad 7 gem that ge

[2016-04-06 15:46] #31 closed

[2016-04-06 17:33] 12345ieee commented on #31
I'm not sure I follow about the '7o' stuff, you won't get 2 gems of the same value that way, but I'm happy it's solved.

Of course, comparing gems across grade 7 gives nonsensical answers, bring both over g7 first to experiment.

Definitely closed.

[2016-05-15 13:06] 12345ieee opened #33 "Discussion for release v1.1.90"
If the people that are trying the beta will provide feedback, here is where I directed them.
@Makaifren , @BilboCGL you're both invited (you 2 might want to watch the repo, so you get all the ~~spam~~ notifications automatically)

PR #32 is still the place to discuss about the code, I had a couple questions that I left earlier.

Announcement is here: https://steamcommunity.com/app/296490/discussio

[2016-05-16 15:01] neofisGG commented on #33
Hi guys, i try the new release and it did very well.

I used my last combinaison method, and the responses are fast.

I keep going and try to follow my master :) SatoshiSama

[2016-05-19 21:48] BilboCGL commented on #33
No idea why I didn't see that before - switching through the buttons with tab has a "grown order" From top-left to button-right would be more intuitiv.

[2016-05-19 22:45] 12345ieee commented on #33
Eh, the widgets have an "id" that starts from 1 (or was it 0) and goes on. That is the tabbing order.

The id is assigned each time a new widget is created.
Basically by tabbing you can follow the coding history, as we never bothered to reorder them.

It's not difficult to change, just tedious to go through the editor and change each one.

[2016-05-19 22:54] BilboCGL commented on #33
Thought so. Sorry for that, but when you try to tab from "delay field" to "combine button" it's just not funny when you suddenly change the recipe by adding some tabstops.

[2016-05-20 01:56] 12345ieee commented on #33
@BilboCGL Actually MS made that much more easier that I thought.
It took 5 mins to reorder all the controls.

Run the attached [WGemCombiner-v1.1.90-2.zip](https://github.com/gemforce-team/wGemCombiner/files/273754/WGemCombiner-v1.1.90-2.zip) and tell me.

[2016-05-20 02:01] Makaifren commented on #33
It used to be control-D while looking at the designer
On May 19, 2016 6:56 PM, "Andrea Stacchiotti" <notifications@github.com>
wrote:

[2016-05-20 12:53] BilboCGL commented on #33
Fine, thanks! Now it is way more easier to activate the combine with keyboard after changing the delay.
No idea if it is avoidable, after reaching the recipes field, you fill this field with tabs, Not really a problem, just a bit ugly.

[2016-05-21 09:12] 12345ieee commented on #33
@Makaifren It's not Ctrl+D any more, it's under the View menu.

@BilboCGL It's a textbox, the default behaviour when you press TAB is to insert an actual TAB character. I'd really prefer not changing it.

[2016-05-21 22:11] Kadoffe01 commented on #33
Hi,
the new gem combiner works really fine and what is absolutely the best - you can now doing other stuff during combining gems  cause the cursor is free now :-)

[2016-05-21 23:46] Makaifren commented on #33
I'm totally going to change it.  Tab isn't needed there anyway.  I want to
say there's a flag for the control which says if it wants ENTER or other
special navigation characters.
On May 21, 2016 2:12 AM, "Andrea Stacchiotti" <notifications@github.com>
wrote:

[2016-05-23 18:57] Makaifren commented on #33
I'm using the GitHub site now, and couldn't figure out how to get into conversation #32, I also can't seem to send private messages to other users. Still trying to figure the system out.  I have the github desktop client installed now (corporate network problem resolved).

[2016-05-23 18:59] Makaifren commented on #33
I was really close to redoing the project using C++ WTL to create a 15k .exe that would run on Windows 98 and later, with no dependencies; then decided that would have been pedantic since I don't think users are actually having problems with windows versions.

[2016-05-24 02:17] 12345ieee commented on #33
Yeah, PR #32 is a tad difficult to find because the code has been merged, so the thread was put in the closed PR section.
In case the #32 itself is not a link, it is at `https://github.com/gemforce-team/wGemCombiner/pull/32`

You cannot send a PM to other github users, if you need to privately contact me, send an email.

----------

wGC depends on .NET framework 4.5, which excludes every Windows o

[2016-05-26 09:50] 12345ieee commented on #33
So, nobody complained about the new method, I'm going to assume it works with all the combinations of GC/OS.

As such, I plan to release v1.2 in the weekend.
If somebody has some feature that wants to include for 1.2 (either a reasonable request or a piece of already written code), let me know before Saturday.

[2016-05-26 12:11] neofisGG commented on #33
The program works well for me. I try it during 1 week and it's fine.

[2016-05-28 10:22] 12345ieee opened #34 "uxtheme.dll"
I was trying to make wGC run under mono, a major obstacle is that they haven't implemented `uxtheme.dll`.

We use it only for `SetWindowTheme`, which is used for the progress bar, it was introduced in commit e142735b95205dd22c25445a52df3418ba6d3f4f by @RobinHood70 .
The only current use is here: https://github.com/gemforce-team/wGemCombiner/blob/master/WGemCombiner/TextProgressBar.cs#L65

Is there

[2016-05-29 20:26] 12345ieee commented on #33
wGC version 1.2 released:
https://github.com/gemforce-team/wGemCombiner/releases/tag/v1.2.0
with almost no changes from the beta.

Closing this.

[2016-05-29 20:26] #33 closed

[2016-06-26 17:30] jonypawks opened #35 "Virus detected in latest release."
When I downloaded the 1.2 release it tripped the windows defender virus scanner as a trojan with the identity: Trojan:Win32/Fethar.B!cl

The previous beta release does not have this issue.

[2016-06-26 17:34] quinor commented on #35
If you want to use current version, try to compile it yourself, there is no
virus in code I assure you ;). I'm rather sure that it's false positive,
but we'll check anyway.

niedz., 26.06.2016 o 19:30 użytkownik Jesse Printz <notifications@github.com>
napisał:

[2016-06-26 17:35] jonypawks commented on #35
Thanks for the fast response!  Yeah, I was pretty sure it was a false positive but thought I'd let you know just in case.

[2016-06-26 17:40] 12345ieee commented on #35
Again, there is no trojan here, you can compile it yourself and verify that the resulting binary is the same we distribute.

Can we have more info on the scan result? (e.g. what OS, what version of WinDef, more scan details, etc...)

[2016-06-26 17:58] jonypawks commented on #35
I'm on Windows 10, up to date with latest definitions in Windows Defender, I haven't made any changes to the default Windows 10 install regarding virus protection.

The quarantine window doesn't really give me much more information than just the name of the threat and this link: https://www.microsoft.com/security/portal/threat/encyclopedia/entry.aspx?name=Trojan%3aWin32%2fFethar.B!cl&threatid=2147

[2016-06-27 15:13] 12345ieee commented on #35
Of course that page gives exactly 0 info on what this trojan actually is. Thanks Microsoft.
Looking it up on google, there are a sleeve of false positives and nothing else.

I'm not going to bother with the extremely convoluted process to report wGC as safe, if @quinor wants, he can do it, otherwise this is `WONTFIX`.

[2016-06-28 03:05] 12345ieee commented on #35
Well, I see @jonypawks agrees with me.
Closing this, thanks for reporting.

[2016-06-28 03:05] #35 closed

[2017-05-20 20:29] MrD2 opened #36 "Can i build it for linux?"
Can i build it for linux?

[2017-05-20 20:40] quinor commented on #36
Nobody did it yet, for now it's windows only. You can try though and if
you'd succeed feel free to post a pull request :)

sob., 20.05.2017, 22:29 użytkownik Diogo Guerra <notifications@github.com>
napisał:

--
Wojciech Jabłoński

[2017-05-20 21:03] 12345ieee commented on #36
I tried, and tried, and tried and tried, but it would require rewriting the part that sends mouse/keyboard events to use Linux libraries.

I develop on Linux, the script `release.sh` will build it correctly with mono, Wine runs it, but it can't fire mouse-keyboard events, so it's pretty useless as of now.

[2017-08-13 02:03] Kromwell-1 opened #37 "wGemCombiner stopped working properly today"
i am using windows 8.1 with the latest update of firefox as my browser. i play gemcraft chasing shadows on armorgames.com.

the issue i am having is the killgem spec / coeff amps stopped working correctly. it does not make the gem recipe i selected and does not finish the recipe, leaving several gems uncombined. i have over 150,000 mana available, so its not a mana issue. the resulting gems vary.

[2017-08-13 02:44] Kromwell-1 commented on #37
ok, i found some settings that had strangely been changed. the info on mouse-over is working again, but still failed to complete the higher recipes. i did manage to get a 256 spec to work just now though.

[2017-08-13 03:44] Sibusten commented on #37
Have you tried increasing the delay between actions? If it is going too fast, key and mouse actions could be getting lost or skipped over, which would break recipes and leave gems uncombined.

wGemCombiner hides tooltips while combining gems as it helps to reduces lag. It does this using a hotkey, so if that keypress is lost the tooltips would stay hidden. Try increasing the delay to 100 (instead

[2017-08-13 05:21] Kromwell-1 commented on #37
i have a short video to send but i dont see a way to send it or attach it

[2017-08-13 19:05] Kromwell-1 commented on #37
i just increased it to 150 on the delay. it successfully did a 342122 combine, and then failed a 16384

[2017-08-13 19:08] Kromwell-1 commented on #37
ahh, so it changes the tooltip while combining and then changes it back when done? if so, that would be how it got changed. it just didnt switch it back.

[2017-08-13 19:09] Kromwell-1 commented on #37
i am going to try restarting the laptop. it has a problem with restarts, due to needing new batteries,  so it may be several hours before it is up and running again.

[2017-08-13 21:13] Kromwell-1 commented on #37
well it starts up much better with no battery installed. hopefully the combiner will work again now

[2017-08-13 21:29] Sibusten commented on #37
Hopefully the restart and increase to delay will fix the problem. If you still have issues with it, and are sure that you have set the gems up properly, you can try lowering more graphics settings to further reduce lag, and increasing the delay further.

[2017-08-13 21:38] Kromwell-1 commented on #37
ok, it still fails when trying a 1024 spec, much less a 2048 spec. this is at a delay of 200, 300, and even 500. it is also using more slots than what it says. i have all slots empty, so that isnt an issue, but for a 1024 it is supposed to use 20 slots and its using 26.

the end result should be a level 10 gem in slot A1, but i get a level 9 in slot 1A and a 2b in slot 5C, a 2B+B in slot 5B and a

[2017-08-13 21:39] Kromwell-1 commented on #37
there really isnt any lag at all. this is at the very start of the game, so there are no monsters yet. it was working fine yesterday with 15000 monsters on the screen.

[2017-08-13 21:44] Kromwell-1 commented on #37
i am going to guess that since it is using more slots than it should that it is missing some combine steps along the way, considering that it is leaving behind orphan gems when it is finished

[2017-08-13 21:46] Kromwell-1 commented on #37
strangely it isnt the ones in the slots that are beyond the range of slots it should be using. maybe it is losing its y-axis mouse position somewhere along the way?

[2017-08-13 22:10] Kromwell-1 commented on #37
it seems the best gems i can make are limited to 256 now. i might consider doing a 1024 by hand, but when i want to do a 4 million+ combine that is simply not possible, LOL

[2017-08-15 00:48] Kromwell-1 commented on #37
the restart didnt help :(

[2017-08-15 02:35] RobinHood70 commented on #37
It sounds to me like something's going wrong on your end, as opposed to the specific formulas being wrong. Your guess about the mouse y-axis position being off would make a lot of sense. If you post exactly which formulas you're using, though, hopefully someone can test them and confirm that it's not the formulas themselves. (I'm afraid I can't right now, as I'm not currently actively playing the

[2017-08-16 03:34] Kromwell-1 commented on #37
at the beginning, i use the mana spec 1024 and the kill spec 1024. it seems all the bigger recipes fail. 256 is hit and miss and only ones lower than 256 seem to be consistent. changing the delay has no effect at all, except takes longer. before my first posting i had rare failures, and i used all the largest recipes.  my biggest gems were 2048 spec and upgraded 3 times with 307075 for mana and 3

[2017-08-16 03:37] Kromwell-1 commented on #37
my last run was a nice one. 3 talisman fragments and all were level 100s

[2017-08-16 07:15] 12345ieee commented on #37
This is a place for strictly technical discussion, @Kromwell-1 , not to write about how your last game went.

The combiner used to work, and suddenly it doesn't work anymore, for sure there's nothing we did wrong, the change was in your system, but there is no way to know till you answer @RobinHood70 's question.

Please keep your answers to the point.

[2017-08-16 12:29] Kromwell-1 commented on #37
its in my first post. i play on armorgames

[2017-08-16 19:15] 12345ieee commented on #37
So, did Firefox recently update? Flash support is slowly going away and I'd not be surprised if it keeps getting more and more sandboxed.

Maybe take a look at https://support.mozilla.org/en-US/kb/adobe-flash-protected-mode-firefox , as mentioned in the README.

[2017-08-17 08:38] RobinHood70 commented on #37
If recipes are hit or miss, then it's definitely not the recipes themselves that are the issue, it'll be something to do with the mouse. Make sure you're playing at 100% window size and that your mouse is perfectly centered in the starting slot. Apart from that, it's been too long since I worked on this project for me to offer any other advice.

[2017-08-17 13:31] Kromwell-1 commented on #37
the web page is at 100%. the game itself has no options to increase or decrease the window size.

[2017-08-19 04:15] Kromwell-1 commented on #37
i just tried it with protected mode switched off. i tried each recipe starting at highest kill spec abd it failed each time until i got down to 256 spec. i thank you guys for the help. i know the problem isnt the combiner. i am just trying to find out what is causing it

[2017-09-03 16:54] #37 closed

[2017-09-03 16:55] 12345ieee commented on #37
Good luck, @Kromwell-1 , if you find out what the cause was we'll be happy to hear it.

[2017-09-07 16:37] #36 closed

[2018-02-24 09:29] peterfarge opened #38 "Format of recipes.txt?"
I want to save my own recipes in the txt file, like it is mentioned in the help and in the example recipes.txt.  But the recipes do not appear in the drop down list. I have seen the recipes.txt has a unix format. I have uncommented some recipes there, but it does not work. Maybe the format has changed? I would be nice if the comment line above the recipe would appear as the recipe name within the

[2018-02-24 10:52] 12345ieee commented on #38
Uhm, the newlines shouldn't matter.
The example file has unix newlines because I develop on Linux, but it should work with either.

Be sure you are creating it in the same folder as the exe, and that you have permissions to read it.
Failing that, attach it to this issue and I'll try to take a look.

I'm sorry but importing comments as names would require substantial work, you are welcome to send a

[2018-02-24 21:13] peterfarge commented on #38
The folder is readable . If you take your recipes.txt from the precompiled download and uncomment a recipe, then it appears in the drop down list? Under what name?

[2018-02-25 12:19] 12345ieee commented on #38
Ah, there is a bit of confusion here.

Custom recipes are treated the same as normal recipes, so if you add, let's say, `(o+o)`, you'll find it together with the other orange combines, so under `Orange combine` (or `Leech combine` if you changed the option) you'll find a recipe of length 2 and growth 0.46.

If you add a recipe that is already pre-included, you won't see any change, as the engine d

[2018-02-25 14:50] peterfarge commented on #38
Ah, thats the problem. I always looked in the spec/combine dropdown box for a "custom" entry (or similar name) when I edited the recipe.txt. It works now. Thanks :)

[2018-02-25 14:51] #38 closed

[2018-05-25 21:43] Kongolan opened #39 "Was different hotkeys for the recipes never planned?"
I'm certainly impressed about the tool and really like it, but it's pretty strange that in the history of the development there was no suggestion for having hotkeys set for different recipes, so we don't need to change it all the time outside of the game window.

Was this never planned? It really shouldn't take much time to implement that as well.

[2018-05-25 22:00] quinor commented on #39
Probably noone thought about it. Feel free to write and submit a pull request.

[2018-06-28 13:05] ShotaroKaneda01 opened #40 "Gemcombine issue"
Hello there,

i'm using Win 7 64-Bit, also Firefox 61.0 (64Bit), .Net is 4.7.1
Both FF and wGC are running as admin.

I see, when using an orange Combine (either as seen in the recipe or processing the instructions),
1: Dupe 1A→1B
2: Upgrade 1B
3: Dupe 1A→1C
4: Dupe 1B→2A
5: Combine 2A→1C
6: Dupe 1A→2A
7: Combine 2A→1C
8: Dupe 1A→2A
9: Combine 2A→1C
10: Combine 1C→1A
11: Combine 1B→1A

gives a g3

[2018-09-14 23:40] darkniko commented on #40
have the info pannels hidden? Theres an option to hide them in options and by default it is " . ". By pressing " . " The info pannels dissapear and go hidden. The programs specifies these must be hidden to work properly.

Im saying this cause i encountered similar problems like u describe because i had the info pannels activated instead of hidden. If not then i dont know :l

[2018-09-14 23:52] darkniko commented on #39
This would be awesome to set up certain step to be repeated anytimes u want. Pitty i dont know how to program :D

[2019-01-02 21:30] Spliffjiffer commented on #40
already very early on (step 5-15 or so) at some point of the game gemcombiner combines already lvl 1 and lvl3 gems which is absolutely not as wished...just as  a hint if that might be helpful

[2019-01-05 09:11] Spliffjiffer commented on #40
since im not really awaiting a reaction to this problem here is my workaround for those who still wanna play with gemcombiner on flashplayer embeded websites:
install firefox-portable 57.0.4 (or older) and everything is still working excellently !!...have fun
regards

[2019-01-06 05:03] darkniko commented on #40
I had the exact same problem as its being described BUT with the tiny difference that i wasnt playing on any browser thats why i suggested about info pannels hidden. This was sometime ago since i played the game with the gemcombiner but i remember i wasnt using no browser to play it but a standalone...

[2019-01-06 05:16] RobinHood70 commented on #40
On the standalone, the only trick is to make sure that you're playing at the default screen size and don't have it maximized or otherwise resized. There used to be code to at least partially handle resized screens, but when the code was improved to better interact with the Windows GUI, the sizing code was removed, I think, since it wasn't a very common concern at the time.